.Message {
  position: relative;
}

.Message-input {
  width: 100%;
  background-color: rgba(26, 25, 25, 0.5);
  height: 74px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  color: white;
}

.Message-input:focus {
  outline: none;
}

.Message-button {
  position: absolute;
  cursor: pointer;
  height: auto;
  width: 30px;
  height: 30px;
  background: url("../../img/Icon-send.svg") no-repeat;
  background-size: cover;
  right: 20px;
  top: 30px;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.17;
}
